@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --olive-primary: #8c9775;
  --gradient-end: #5f7237;
  --gradient-start: #1b1c16;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-olive-primary: var(--olive-primary);
  --color-gradient-start: var(--gradient-start);
  --color-gradient-end: var(--gradient-end);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat);
}

@layer components {
  .btn-gradient {
    background: linear-gradient(
      360deg,
      var(--gradient-start) 0%,
      var(--gradient-end) 94%
    );
    color: var(--color-background);
    padding: 14px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background: none;
      color: #42412d;
    }
  }

  .nav-link {
    cursor: pointer;
    font-size: 16px;
    color: var(--color-background);
    text-decoration: none;
    position: relative;

    @media (min-width: 1280px) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: var(--color-background);
        transition: width 0.7s;
      }

      &:hover:after {
        width: 100%;
        left: 0;
        bottom: 0;
        height: 1px;
        background-color: var(--color-background);
      }
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
